body {padding: 10px}
.fundo-amarelo {background-color: #fff946 !important}
header {height: 150px; width: 100%}
.barra-pesquisa {height: 40px; border-radius: 5px !important; text-align: center;}
.navegacao {width: 100%; margin: 0px; margin-left: -15px; border-radius: 5px; min-height: 100px; height: 100%; background: #f4f4f4}
.uk-search {width: 100%; }
.resultados {display: flex; padding: 10px;flex-flow: wrap;}
.resultados .item {background: #f4f4f4; border-radius: 6px; width: 33%; height: 250px; margin: 5px; flex-basis: 32%; box-sizing: border-box;}
hr {border-top: 1px solid #cec818 }
.resultados .item-max {background: #f4f4f4; border-radius: 6px; width: 100%; height: 250px; margin: 5px}
.resultados-quantidade {}
.logo {}
.uk-button-default {background: #fff; border-radius: 5px;}
.uk-button-default:hover {background: #f4f4f4;}
